<template>
  <div class="flex items-center justify-center pt-3">
      <p class="text-lg">
          Junior Vue-js developer assignment, Welcome
      </p>
  </div>
</template>

<script>
export default {
}
</script>
